package components 

import (
	"github.com/jessemillman/vitae/types"
)

import "fmt"

templ Education(items []types.Education) {
	<section class="education-section flex min-h-0 flex-col gap-y-3">
		<h2 class="text-xl font-bold">Education</h2>
		for _, item := range items {
			<div class="education-item rounded-lg bg-card text-card-foreground">
				<div class="flex flex-col space-y-1.5">
					<div class="education-title flex items-center justify-between gap-x-2 text-base">
						<h3 class="font-semibold leading-none"><a href={ templ.SafeURL(item.URL) }>{ item.Institution }</a></h3>
						<div class="education-date text-sm tabular-nums text-gray-500">
							{ fmt.Sprintf("%s - %s", item.StartDate, item.EndDate) }
						</div>
					</div>
					<div class="education-subtitle">
						<h4>{ item.StudyType }</h4>
					</div>
					<div class="education-summary text-pretty font-mono text-sm text-muted-foreground mt-2">
						for _, course := range item.Courses {
							<p>{ course }</p>
						}
					</div>
				</div>
			</div>
		}
	</section>
}
