package components 

import (
	"github.com/jessemillman/vitae/types"
)

templ Projects(items []types.Projects) {
	<section class="projects-section flex min-h-0 flex-col gap-y-3 print-force-new-page scroll-mb-16">
		<h2 class="text-xl font-bold">Projects</h2>
		<div class="projects -mx-3 grid grid-cols-1 gap-3 print:grid-cols-3 print:gap-2 md:grid-cols-2 lg:grid-cols-3">
			for _, item := range items {
				<div class="projects-item rounded-lg bg-card text-card-foreground flex flex-col overflow-hidden border border-muted p-3">
					<div class="flex flex-col space-y-1.5">
						<div class="projects-item-header space-y-1">
							<h3 class="font-semibold tracking-tight text-base"><a class="inline-flex items-center gap-1 hover:underline" href={templ.SafeURL(item.URL)}>{item.Name}</a></h3>
						</div>
						<div class="projects-item-description text-muted-foreground font-mono text-xs">
							{ item.Description }
						</div>
						for _, highlight := range item.Highlights {
							<div class="projects-item-highlight text-pretty font-mono text-sm text-muted-foreground mt-auto flex">
								<div class="mt-2 flex flex-wrap gap-1">
									<div class="inline-flex items-center rounded-md border font-semibold font-mono transition-colors focus:outline-none focus:ring-2 focus:ring-ring focus:ring-offset-2 text-nowrap border-transparent bg-secondary text-secondary-foreground hover:bg-secondary/60 px-1 py-0 text-[10px]"> 
										{ highlight }
									</div>
								</div>
							</div>

						}
					</div>
				</div>
			}
		</div>
	</section>
}
