package home 

import (
	"github.com/jessemillman/vitae/view/layout"
	"github.com/jessemillman/vitae/types"
	"github.com/jessemillman/vitae/view/components"
)

templ Show(cv types.CV) {
	@layout.Base() {
		@components.Header(cv.Basics)
        @components.Experience(cv.Work)
        @components.Education(cv.Education)
        @components.Skills(cv.Skills)
        @components.Projects(cv.Projects) 

	}
}
