package layout

templ Base() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="utf-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>CV</title>
			<script src="https://cdn.tailwindcss.com"></script>
			<link rel="stylesheet" href="https://rsms.me/inter/inter.css"/>
			<style>
			body {
				font-family: 'Inter', sans-serif;
			}
			.text-muted-foreground {
				color: hsl(220 8.9% 46.1%);
			}
			.text-primary-foreground {
				color: hsl(210 20% 98%);
			}
			.bg-primary {
				background-color: hsl(220.9 39.3% 11%);
			}
			.text-secondary-foreground {
				color: hsl(220.9 39.3% 11%);
			}
			.bg-secondary {
				background-color: hsl(220 14.3% 95.9%);
			}
			</style>
		</head>
		<body>
			<main class="container relative mx-auto scroll-my-12 overflow-auto p-4 print:p-12 md:p-16">
				<section class="mx-auto w-full max-w-2xl space-y-8 bg-white print:space-y-6">
					{ children... }
				</section>
			</main>
		</body>
	</html>
}
